body {
    background-color: rgb(29, 29, 29);
}

#order_cards2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin: 60px;
}

.cards2 {
    position: relative;
    /* Importante para o posicionamento dos elementos internos */
    padding: 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #740000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#suit {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

#card_value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
}

#suit2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
}

.cards2:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}