@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Warp&display=swap');
@font-face {
    font-family: 'intro';
    src: url(introheadr-base.otf);
}

:root {
  --back: #0B0B0C;
  --cor1: #F4EAB9;
  --cor2: #A57202; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Mantém o header no topo e os botões embaixo */
    height: 100vh; /* Garante que ocupe toda a tela */  
    font-family: 'intro';
    color: var(--cor1);
    background-color: var(--back);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

#gameMessage {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(156, 5, 5);
  margin-top: 10px;
}
.cards {
  margin: 25px;
  padding: 25px;
  top:  50%;
  left: 50%;
  border: 1px solid black;
  display: inline-block;
  min-width: 150px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style:  normal;
}

.header
{
    text-align: center;
    padding: 20px;
    background-color: #003502;
    color: white;
    font-size: 30px;
    width: 100%;

}

/* Container dos botões */
.button-container {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    gap: 15px; /* Espaçamento entre os botões */
    padding: 20px;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.page_elements
{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente (caso necessário) */
    height: 100vh; /* Para centralizar na tela inteira, opcional */
    font-variation-settings:
    "XROT" -3,
    "YROT" 0;
}

.button {
    appearance: button;
    background-color: #089329;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: sigma;
    font-size: 25px;
    font-weight: 700;
    font-variation-settings:
      "XROT" -3,
      "YROT" 0;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 15%;
  }
  
  .button:after {
    background-clip: padding-box;
    background-color: #14c343;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button,
  .button:focus {
    user-select: auto;
  }
  
  .button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button:disabled {
    cursor: auto;
  }
  
  .button:active {
    border-width: 4px 0 0;
    background: none;
  }